<div>
    <!-- Heading -->
    <div class="container-mxwidth">
        <section class="section-container stores-section-1">
            <h1>Stores</h1>
            <p>Find all the information about your favourite stores in town.</p>
        </section>
    </div>
    <!-- Grid -->
    <div class="container-mxwidth">
        <section class="section-container stores-section-2">
            <!-- Store card -->
            {{#if stores}}
                {{#each stores}}
                    <div class="store">
                        <h3>{{name}}</h3>
                        {{#if url}}
                            {{#if (startsWith url "http://")}}
                                <a href="{{url}}" target="_blank">Visit {{name}}</a>
                            {{else if (startsWith url "https://")}}
                                <a href="{{url}}" target="_blank">Visit {{name}}</a>
                            {{else}}
                                <a href="http://{{url}}" target="_blank">Visit {{name}}</a>
                            {{/if}}
                        {{/if}}
                        <h4> District: {{district}}</h4>
                        <h4> Category: {{category}}</h4>
                        <p> Address: {{address}}</p>
                    </div>
                {{/each}}
            {{else}}
                <p>No stores found</p>
            {{/if}}
        </section>
    </div>
</div>